.flexContainer {
    display: flex;
    flex-direction: column;
    flex-direction: row; /* Default */
    /* justify-content - sets the alignment on the main axis */
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: flex-start; /* Default */

    /* align-items - sets the alignment on the cross axis */
    align-items: stretch; /* Default */
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;

    flex-wrap: wrap; /* Push the content down when the content doesn't fit */
    flex-wrap: wrap-reverse;
    flex-wrap: nowrap; /* Default */

    /* Column and Row Gap */
    column-gap: 20px;
    row-gap: 20px;
    gap: 20px;

    /* Willingness of items to shrink*/
    .flexItem1 {
        flex-shrink: 0; /* Not willing to shrink */
        flex-shrink: 1; /* Willing to shrink */
    }
    /* Willingness of items to grow*/
    .flexItem3 {
        flex-grow: 0; /* Not willing to grow */
        flex-grow: 1; /* Willing to grow */
    }
}

/* Circle Container */
.circle-container {
    background-color: aqua;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
}